@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Kanit:wght@300&display=swap');


p {
  margin: .5em;
}

.profile-photo {
  display: flex;
  padding: 3%;
  flex-direction: column;
  align-items: center;
}

#title {
  text-align: center;
  font-family: 'Dosis', sans-serif;
  font-weight: 300;
}


img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  max-width: 60vw;
  height: auto;
}

.intro-text {
  margin: 5%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: start;
  border-style: solid;
  border-width: 2px;
  border-color: #ade4ff8c;
}


#content {
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
}