@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');


nav {
  height: 50px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: linear-gradient(75deg, #ffffff,#ffffff9a);
  z-index: 10;
}

.home {
  text-decoration: none;
}

.page-title {
  font-family: 'Patrick Hand', cursive;
  font-size: 2em;
  color: #1377a8;
}
.smallscreen {
  display: block;
}
.largescreen {
  display: none;
}

.link-icons {
  width: 8em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.icon-intro {
  color: #1e8cc4;
}
.icon-about-me {
  color: #1e8cc4;
}
.icon-projects {
  color: #1e8cc4;
}


@media only screen and (min-width: 481px) {
  .largescreen {
    display: block;
  }
  .smallscreen {
    display: none;
  }
}