.stack-icons {
  margin: 3% 5%;
  padding: 10px;
}

.stacks.dropdown {
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
}

.explore {
  padding-right: 50%;
  padding-left: 10px;
  text-align: center;
  color: #359fd4;
  font-family: 'Varela Round', sans-serif;
}

div#languages {
  scroll-margin-top: 10em;
}
div#back-end {
  scroll-margin-top: 10em;
}
div#front-end {
  scroll-margin-top: 10em;
}
div#testing {
  scroll-margin-top: 10em;
}

.hide {
  display: none;
}

.stack-img {
  border: 1px solid #b1b1b1;
  border-radius: 4px;
  padding: 4px;
  margin-right: 3%;
  margin-top: 1.5%;
  vertical-align: middle;
  height: 50px;
}
.stack-img:hover {
  transform: scale(1.2);
}


@media only screen and (min-width: 481px) {
  .stack-img {
    border: 1px solid #b1b1b1;
    border-radius: 4px;
    padding: 4px;
    margin-right: 3%;
    margin-top: 1.5%;
    vertical-align: middle;
    height: 90px;
  }
}